<main class="container">
    <h1>Login</h1>
    <form id="login"  class="form-group w-50">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <label>Password</label>
        <input type="password" name="password" class="form-control">
        <button class=" btn btn-outline-dark w-100 mt-3">Ingresar</button>
    </form>
     <div>
        <a class="btn btn-dark mt-5" href="/api/sessions/reset_password">Reestablecer Contraseña</a>
    </div> 
   {{!--  <div>
        <a class="btn btn-dark mt-5" href="/api/sessions/github">Github</a>
    </div> --}}
</main>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
 $(document).ready(function() {
$('#login').on('submit', function(event) {
    event.preventDefault(); 

// Serializa los datos del formulario
const data = $(this).serializeArray().reduce((obj, item) => {
  obj[item.name] = item.value;
  return obj;
}, {});


// Realiza la solicitud AJAX
$.ajax({
  url: '/api/sessions/login',
  method: 'POST',
  contentType: 'application/json',
  data: JSON.stringify(data),
  success: function(response) {
    // Muestra un mensaje de éxito
    $('#message').text('La sesión se inició correctamente');
    
    // Redirige a la página de productos
    window.location.href = '/products';
  },
  error: function(xhr, status, error) {
    // Muestra un mensaje de error
    $('#message').text('Hubo un problema al intentar iniciar sesión');
    console.error('Error:', error);
  }
});
  
})
 })

</script>